.fs.hedline {
  h1 {
    background-color: #f7f7f9;
    margin: 0;
    padding: .4em 20px .7em;
    font-size: calc(2.5vw * 1 + 20px);
    text-align: center;
    letter-spacing: -.05em;
    border-bottom: 1px dotted #ccc;
  }
}