<div class="fs lede{% if bit.class %} {{ bit.class }}{% endif %}">
  <figure>
    <img {% if bit.alt %} alt="{{ bit.alt }}" {% endif %}
      {% if bit.directsrc %} src="{{ bit.directsrc }}"{% else %}
      src="//s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}" srcset="
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 480w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/480/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 960w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/600/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 600w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1024w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/600/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1200w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1500/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1500w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1024/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 2048w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1500/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 3000w
    " sizes="
      (max-width: 479px) 480px,
      (min-width: 480px) and (max-width: 599px) 600px,
      (min-width: 600px) and (max-width: 1023px) 1024px,
      (min-width: 1024px) 1500px,
      100vw
  {% endif %}">
        <div class="headline-overlay
        {%- if bit.textbackground %} textbackground{% endif %}
        {%- if bit.textshadow %} textshadow{% endif %}
        {%- if bit.ypos == 'top' %} top{% elif bit.ypos == 'middle' %} middle{% elif bit.ypos == 'bottom' %} bottom{% endif %}
        {%- if bit.xpos == 'left' %} left{% elif bit.xpos == 'center' %} center{% elif bit.xpos == 'right' %} right{% endif %}">
      {% if bit.kicker %}<h2 style="{% if bit.textcolor %}color: {{ bit.textcolor }};{% endif %}{% if bit.headsize %} font-size: calc(1.5vw * (1 + {{ bit.headsize }}) + 27px){% endif %}">{{ bit.kicker }}</h2>{% endif %}
      {% if bit.hed %}<h1 style="{% if bit.textcolor %}color: {{ bit.textcolor }};{% endif %}{% if bit.headsize %} font-size: calc(3vw * (1 + {{ bit.headsize }}) + 27px){% endif %}">{{ bit.hed }}</h1>{% endif %}
      {% if bit.subhed %}<h2 style="{% if bit.textcolor %}color: {{ bit.textcolor }};{% endif %}{% if bit.headsize %} font-size: calc(1.5vw * (1 + {{ bit.headsize }}) + 27px){% endif %}">{{ bit.subhed }}</h2>{% endif %}
    </div>
  </figure>
</div>

