<figure class="column-plus{% if bit.style %} {{ bit.style }}{% endif %}">
  <img
    {% if bit.alt %} alt="{{ bit.alt }}"{% endif %}
    src="{{ bit.srcpath }}img/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}"
    srcset="
      {{ bit.srcpath }}img/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 480w,
      {{ bit.srcpath }}img/480/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 960w,
      {{ bit.srcpath }}img/600/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 600w,
      {{ bit.srcpath }}img/600/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1200w
    "
    sizes="
      (max-width: 480px) 480px,
      (min-width: 481px) and (max-width: 1023px) 600px,
      (min-width: 1024px) 1200px,
      100vw
  ">
  <figcaption>{% if bit.credit %}<div class="credit">{{ bit.credit | safe }}</div class="credit">{% endif %}{% if bit.caption %}<div class="caption">{{ bit.caption | safe }}</div>{% endif %}</figcaption>
</figure>