<style type="text/css">
  @media only screen {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 481px), screen and (min-height: 321px) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/600/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 601px), screen and (min-height: 401px) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 1025px), screen and (min-height: 682px) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/1500/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/480/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-height: 321px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-height: 321px) and (min-resolution: 192dpi) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/600/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 601px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-height: 401px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 401px) and (min-resolution: 192dpi), screen and (min-height: 682px) and (min-resolution: 192dpi) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/1024/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  @media only screen and (min-width: 1500px), screen and (min-height: 1000px), screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-height: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1025px) and (min-resolution: 192dpi), screen and (min-height: 1000px) and (min-resolution: 192dpi) {
    {% if bit.srcid %}#{{ bit.srcid | slugify({ replacement: "_", lower: true })}}{% else %}#{{ bit.subhed | slugify({ replacement: "_", lower: true })}}{% endif %}.fixedimg>.image { background-image: url({{ bit.srcpath }}img/1500/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}); }
  }
  .no-display, .false-display { display: none; }
  @media only screen {
    img.print-only { display: none!important; }
  }
  @media only print {
    .fixedimg-subhed { display: none!important; }
    .mobile-only { display: block!important; }
  }
</style>
<div class="fs lede{% if bit.class %} {{ bit.class }}{% endif %}">
  <figure class="fixedimg"{% if bit.srcid %} id="{{ bit.srcid | slugify({ replacement: "_", lower: true })}}"{% else %} id="{{ bit.subhed | slugify({ replacement: "_", lower: true })}}"{% endif %}>
  <img class="print-only" src="{{ bit.srcpath }}/img/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}">
  <div class="image" style="{% if bit.height %} height: {{ bit.height }};{% endif %}background-position: {% if bit.backgroundpos %}{{ bit.backgroundpos }};{% else %}50% 50%;{% endif %}"{%- if bit.alt %} role="img" aria-label="{{ bit.alt }}"{% endif %}>
      <div class="headline-overlay{% if bit.textbackground %} textbackground{% endif %}{% if bit.textshadow %} textshadow{% endif %}{% if bit.texttop %} texttop{% endif %}{% if bit.textright %} textright{% endif %}">
        {% if bit.subhed %}<h2 style="{% if bit.textcolor %}color: {{ bit.textcolor }};{% endif %}{% if bit.headsize %} font-size: calc(1.5vw * (1 + {{ bit.headsize }}) + 27px){% endif %}">{{ bit.subhed }}</h2>{% endif %}
      </div>
    </div>
    <figcaption>{% if bit.credit %}
      <div class="credit">{{ bit.credit | safe }}</div>{% endif %}{% if bit.caption %}
      <div class="caption">{{ bit.caption | safe }}</div>{% endif %}</figcaption>
  </figure>
</div>
