<figure class="{% if bit.class %}image-{{ bit.class }}{% endif %}">
    <img {% if bit.alt %} alt="{{ bit.alt }}" {% endif %}
      {% if bit.directsrc %} src="{{ bit.directsrc }}"{% else %}
      src="//s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}" srcset="
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 480w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/480/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 960w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/600/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 600w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1024w,
      //s3.amazonaws.com/ledejs/resized/{{ $projectName }}/600/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1200w
    " sizes="
      (min-width: 540px) 600px,
      (min-width: 850px) 480px,
      (min-width: 1200px) 600px,
      480px
    {% endif %}">
  <figcaption>{% if bit.credit %}
    <div class="credit">{{ bit.credit | safe }}</div class="credit">{% endif %}{% if bit.caption %}
    <div class="caption">{{ bit.caption | safe }}</div>{% endif %}</figcaption>
</figure>

