@media screen and (min-width: 992px) {
  .fs {
    width: 1000px;
    width: 100vw;
    position: relative;
    // left: 50%;
    > * {
      position: relative;
      // transform: translate(-50%, 0);
      width: 100%;
    }
    figcaption {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}