<div class="fs">
  <figure class="{% if bit.class %}{{ bit.class }}{% endif %}">
    <img {% if bit.alt %} alt="{{ bit.alt }}" {% endif %}
      {% if bit.directsrc %} src="{{ bit.directsrc }}"{% else %}
      src="{{ bit.srcpath }}img/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %}" srcset="
      {{ bit.srcpath }}img/480/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 480w,
      {{ bit.srcpath }}img/480/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 960w,
      {{ bit.srcpath }}img/600/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 600w,
      {{ bit.srcpath }}img/1024/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1024w,
      {{ bit.srcpath }}img/600/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1200w,
      {{ bit.srcpath }}img/1500/{{ bit.src }}.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 1500w,
      {{ bit.srcpath }}img/1024/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 2048w,
      {{ bit.srcpath }}img/1500/{{ bit.src }}-2x.{% if bit.imgtype %}{{ bit.imgtype }}{% else %}jpg{% endif %} 3000w
    " sizes="
      (max-width: 479px) 480px,
      (min-width: 480px) and (max-width: 599px) 600px,
      (min-width: 600px) and (max-width: 1023px) 1024px,
      (min-width: 1024px) 1500px,
      100vw
  {% endif %}">
    <figcaption>{% if bit.credit %}
      <div class="credit">{{ bit.credit | safe }}</div>{% endif %}{% if bit.caption %}
      <div class="caption">{{ bit.caption | safe }}</div>{% endif %}</figcaption>
  </figure>
</div>