<div class="fs">
  <figure class="{% if bit.class %}{{ bit.class }}{% endif %}">
    <img {% if bit.alt %} alt="{{ bit.alt }}" {% endif %} src="{{ bit.srcpath }}img/600/{{ bit.src }}.jpg" srcset="
      {{ bit.srcpath }}img/480/{{ bit.src }}.jpg 480w,
      {{ bit.srcpath }}img/480/{{ bit.src }}-2x.jpg 960w,
      {{ bit.srcpath }}img/600/{{ bit.src }}.jpg 600w,
      {{ bit.srcpath }}img/1024/{{ bit.src }}.jpg 1024w,
      {{ bit.srcpath }}img/600/{{ bit.src }}-2x.jpg 1200w,
      {{ bit.srcpath }}img/1500/{{ bit.src }}.jpg 1500w,
      {{ bit.srcpath }}img/1024/{{ bit.src }}-2x.jpg 2048w,
      {{ bit.srcpath }}img/1500/{{ bit.src }}-2x.jpg 3000w
    " sizes="
      (max-width: 479px) 480px,
      (min-width: 480px) and (max-width: 599px) 600px,
      (min-width: 600px) and (max-width: 1023px) 1024px,
      (min-width: 1024px) 1500px,
      100vw
  ">
    <figcaption>{% if bit.credit %}
      <div class="credit">{{ bit.credit }}</div class="credit">{% endif %}{% if bit.caption %}
      <div class="caption">{{ bit.caption }}</div>{% endif %}</figcaption>
  </figure>
</div>