/*******************
 * Includes        *
 *******************/

// @import 'normalize';
// @import 'base/typography';
// @import 'layout/grid';
// @import 'modules/headerfooter';
// @import 'modules/map';
// @import 'modules/meters';
// @import 'modules/scroll';
// @import 'modules/sidebar';
// @import 'mixins';

/*******************
 * Sitewide styles *
 *******************/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 50px 0 0;
  overflow-x: hidden;
  @media screen and (max-width: $screen-xs-max) {
    font-size: 15px;
    padding-top: 40px;
  }
  @media screen and (max-width: $screen-mobile-max) {
    font-size: 14px;
  }
}
body, body * {
  box-sizing: border-box;
}
h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.4em;
}
h2 {
  &.chapter {
    margin-top: -70px;
    padding-top: 70px;
  }
}
h1, h2, h3 {
  // font-weight: bold;
}
blockquote p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0 0;
  padding: 1em;
}
p {
  .liftout {
    @include open-sans-condensed();
    font-size: 1.5em;
  }
  .emphasis {
    font-size: 1.5em;
    margin: 1.3em inherit 1.3em 0;
    border-left: 4px solid #ccc;
    padding-left: 20px;
  }
  &.quote-attrib {
    padding: 1em;
    text-align: right;
  }
}
article {
  padding: $portal-padding-mobile;
  min-height: calc(100vh - 180px);
  @media screen and (min-width: $screen-sm-min) {
    padding: $portal-padding-desktop;
    min-height: calc(100vh - 210px);
  }
}
.strong {
  font-weight: bold;
}
.main {
  margin-bottom: 10px;
}

/* Header */

header {
  background-color: $timesgreen;
}
@media screen and (min-width: $screen-sm-min) {
  .name {
    padding-left: 0;
  }
}
.print {
  position: relative;
  top: 20;
  right: 20;
}
p, lif, blockquote {
  @include georgia();
  // max-width: $well-width;
  // padding: $well-padding;
  // margin-left: auto;
  // margin-right: auto;
  line-height: 1.8em;
}
// h1, h2, h3, h4, h5, h6 {
//   @include open-sans();
// }
.main-column {
  // background-color: rgba(255,255,255,0.2);
  border: 1px dotted #ccc;
  border-width: 0 1px;
}
