.fs {
  > * {
    transform: translate(0,0);
  }
  @media screen and (min-width: 1200px) {
    left: calc(-.5 * (100vw - 700px));
  }
  @media screen and (min-width: 992px) {
    left: calc(-.5 * (100vw - 560px));
  }
}