.fs {
  > * {
    transform: translate(0,0);
  }
  left: -31px;
  @media screen and (min-width: 576px) {
    left: calc(-.5 * (100vw - 514px));
  }
  @media screen and (min-width: 768px) {
    left: calc(-.5 * (100vw - 658px));
  }
  @media screen and (min-width: 992px) {
    left: calc(-.5 * (100vw - 564px));
  }
  @media screen and (min-width: 1200px) {
    left: calc(-.5 * (100vw - 698px));
  }
}