// STUFF FROM LEDE

/* Breakpoints */
$screen-mobile-max: 543px;
$screen-sm-min: 544px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 768px;
$screen-sm-max: ($screen-md-min - 1);
$screen-tabletw-min: 992px;
$screen-tableth-max: ($screen-tabletw-min - 1); // these don't make that much sense, but I need a 1024px breakpoint! -MF
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xlg-min: 1400px; // we're gonna need a bigger boat
$screen-lg-max: ($screen-xlg-min -1);

// $well-width: 660px;
// $well-padding: 0 10px;

$portal-padding-mobile: 0 10px;
$portal-padding-desktop: 0 15px;

// $header-height-mobile: 40px;
// $header-height-desktop: 50px;
// $footer-height-mobile: 140px;
// $footer-height-desktop: 160px;

/* Colors */
$lightgray: #f2f2f2;
$hovercolor: #000;
$grayaccent: #ccc;
$graymedium: #777;
$graydark: #222;
$brickred: #781F11;
$lightred: #D23E27;
$turquoise: #56BDC5;
$timesgreen: #115220;
$black: #000;

$accentcolor: $brickred;

/* Reusable elements */
@mixin hover-btn() {
	border-radius: 25px; border: 1px solid #fff;
	&:hover {
		text-decoration: none; border-color: #ddd;
	}
}

@mixin title-gradient() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,1e1e1e+100&0+0,0.6+30,0.6+70,0+100 */
  background: -moz-linear-gradient(top, rgba(30,30,30,0) 0%, rgba(30,30,30,0.6) 30%, rgba(30,30,30,0.6) 70%, rgba(30,30,30,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,30,30,0) 0%,rgba(30,30,30,0.6) 30%,rgba(30,30,30,0.6) 70%,rgba(30,30,30,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,30,30,0) 0%,rgba(30,30,30,0.6) 30%,rgba(30,30,30,0.6) 70%,rgba(30,30,30,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e1e1e', endColorstr='#001e1e1e',GradientType=0 ); /* IE6-9 */
}
@mixin title-gradient-top() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,1e1e1e+100&0.6+0,0+100 */
  background: -moz-linear-gradient(top, rgba(30,30,30,0.6) 0%, rgba(30,30,30,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,30,30,0.6) 0%,rgba(30,30,30,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,30,30,0.6) 0%,rgba(30,30,30,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#991e1e1e', endColorstr='#001e1e1e',GradientType=0 ); /* IE6-9 */
}
@mixin title-gradient-bottom() {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e1e1e+0,1e1e1e+100&0+0,0.6+100 */
  background: -moz-linear-gradient(top, rgba(30,30,30,0) 0%, rgba(30,30,30,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,30,30,0) 0%,rgba(30,30,30,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,30,30,0) 0%,rgba(30,30,30,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e1e1e', endColorstr='#991e1e1e',GradientType=0 ); /* IE6-9 */
}