@import 'test/typography';

.byline {
  font-weight: 700;
  padding: 1em 0;
  margin-top: .5em;
}
.byline, .dateline {
  color: #777;
  @include open-sans-condensed();
}
.dateline {
  float: right;
  font-weight: normal;
  color: #000;
}
.byline span {
  padding-top: .3em;
  display: inline-block;
  line-height: 1.3em;
}