<footer>
  <div id="componentDivFooter" gigid="showShareBarUI" style="visibility: visible;">
    <div class="gig-bar-container gig-share-bar-container">
      <table cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
              <div class="gig-button-container gig-button-container-count-none gig-button-container-facebook gig-button-container-facebook-count-none gig-share-button-container gig-button-container-horizontal">
                <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivFooter-reaction0" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction0'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction0'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction0'].changeState('up')">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td id="componentDivFooter-reaction0-left"></td>
                        <td id="componentDivFooter-reaction0-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivFooter-reaction0-icon_img" src="http://www.tampabay.com/projects/assets/sharing/fb_grWh_big.png" alt=""></td>
                        <td id="componentDivFooter-reaction0-right"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
            <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
              <div class="gig-button-container gig-button-container-count-none gig-button-container-twitter gig-button-container-twitter-count-none gig-share-button-container gig-button-container-horizontal">
                <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivFooter-reaction1" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction1'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction1'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction1'].changeState('up')">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td id="componentDivFooter-reaction1-left"></td>
                        <td id="componentDivFooter-reaction1-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivFooter-reaction1-icon_img" src="http://www.tampabay.com/projects/assets/sharing/tw_grWh_big.png" alt=""></td>
                        <td id="componentDivFooter-reaction1-right"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
            <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
              <div class="gig-button-container gig-button-container-count-none gig-button-container-email gig-button-container-email-count-none gig-share-button-container gig-button-container-horizontal">
                <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivFooter-reaction2" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction2'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction2'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction2'].changeState('up')">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td id="componentDivFooter-reaction2-left"></td>
                        <td id="componentDivFooter-reaction2-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivFooter-reaction2-icon_img" src="http://www.tampabay.com/projects/assets/sharing/email_grWh_big.png" alt=""></td>
                        <td id="componentDivFooter-reaction2-right"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
            <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
              <div class="gig-button-container gig-button-container-count-none gig-button-container-share gig-button-container-share-count-none gig-share-button-container gig-button-container-horizontal">
                <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivFooter-reaction3" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction3'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction3'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivFooter'].buttonInstances['componentDivFooter-reaction3'].changeState('up')">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td id="componentDivFooter-reaction3-left"></td>
                        <td id="componentDivFooter-reaction3-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivFooter-reaction3-icon_img" src="http://www.tampabay.com/projects/assets/sharing/more_gr_big.png" alt=""></td>
                        <td id="componentDivFooter-reaction3-right"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="copyright">
    ©2016 All Rights Reserved | <a href="//www.tampabay.com">Tampa Bay Times</a>
  </div>
</footer>