<header>
  <a class="header-logo-link" href="{{ baseHref }}">
    <img class="header-logo hidden-xs-down" src="{{ brandLogoWideWhite }}" alt="{{ brandName }}">
    <img class="header-logo hidden-sm-up" src="{{ brandLogoSmallWhite }}" alt="{{ brandName }}">
  </a>
  <div class="header-social" id="componentDivHeader_gig_containerParent">
    <script type="text/javascript">
    var act = new gigya.socialize.UserAction();
    act.setTitle("Wild ride across Florida: 800 miles, alone on a bike");
    act.setLinkBack("http://www.tampabay.com/projects/2015/features/one-wild-ride/");
    act.addMediaItem({
      type: 'image',
      src: 'http://www.tampabay.com/projects/2015/features/one-wild-ride/img/1500/SP_393926_PEND_flo_bike0705.jpg',
      href: 'http://www.tampabay.com/projects/2015/features/one-wild-ride/'
    });
    var showShareBarUI_params = {
      containerID: 'componentDivHeader',
      shareButtons: [{
        provider: 'Facebook',
        iconImgOver: 'http://www.tampabay.com/projects/assets/sharing/fb_blWh.png',
        iconImgUp: 'http://www.tampabay.com/projects/assets/sharing/fb_wh.png'
      }, {
        provider: 'Twitter',
        iconImgUp: 'http://www.tampabay.com/projects/assets/sharing/tw_wh.png',
        iconImgOver: 'http://www.tampabay.com/projects/assets/sharing/tw_blWh.png'
      }, {
        provider: 'Email',
        iconImgUp: 'http://www.tampabay.com/projects/assets/sharing/email_wh.png',
        iconImgOver: 'http://www.tampabay.com/projects/assets/sharing/email_blWh.png'
      }, {
        provider: 'Share',
        iconImgUp: 'http://www.tampabay.com/projects/assets/sharing/more_wh.png',
        iconImgOver: 'http://www.tampabay.com/projects/assets/sharing/more_bl.png'
      }],
      iconsOnly: 'true',
      showCounts: 'none',
      userAction: act
    }

    </script>
    <div id="componentDivHeader" gigid="showShareBarUI" style="visibility: visible;">
      <div class="gig-bar-container gig-share-bar-container">
        <table cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
                <div class="gig-button-container gig-button-container-count-none gig-button-container-facebook gig-button-container-facebook-count-none gig-share-button-container gig-button-container-horizontal">
                  <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivHeader-reaction0" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction0'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction0'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction0'].changeState('up')">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td id="componentDivHeader-reaction0-left"></td>
                          <td id="componentDivHeader-reaction0-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivHeader-reaction0-icon_img" src="http://www.tampabay.com/projects/assets/sharing/fb_wh.png" alt=""></td>
                          <td id="componentDivHeader-reaction0-right"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
              <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
                <div class="gig-button-container gig-button-container-count-none gig-button-container-twitter gig-button-container-twitter-count-none gig-share-button-container gig-button-container-horizontal">
                  <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivHeader-reaction1" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction1'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction1'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction1'].changeState('up')">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td id="componentDivHeader-reaction1-left"></td>
                          <td id="componentDivHeader-reaction1-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivHeader-reaction1-icon_img" src="http://www.tampabay.com/projects/assets/sharing/tw_wh.png" alt=""></td>
                          <td id="componentDivHeader-reaction1-right"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
              <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
                <div class="gig-button-container gig-button-container-count-none gig-button-container-email gig-button-container-email-count-none gig-share-button-container gig-button-container-horizontal">
                  <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivHeader-reaction2" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction2'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction2'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction2'].changeState('up')">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td id="componentDivHeader-reaction2-left"></td>
                          <td id="componentDivHeader-reaction2-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivHeader-reaction2-icon_img" src="http://www.tampabay.com/projects/assets/sharing/email_wh.png" alt=""></td>
                          <td id="componentDivHeader-reaction2-right"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
              <td style="vertical-align:bottom; white-space:nowrap;zoom:1;">
                <div class="gig-button-container gig-button-container-count-none gig-button-container-share gig-button-container-share-count-none gig-share-button-container gig-button-container-horizontal">
                  <div class="gig-button gig-share-button gig-button-up gig-button-count-none" id="componentDivHeader-reaction3" title="" alt="" onclick="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction3'].onClick()" onmouseover="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction3'].changeState('over')" onmouseout="gigya.services.socialize.plugins.reactions.instances['componentDivHeader'].buttonInstances['componentDivHeader-reaction3'].changeState('up')">
                    <table cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td id="componentDivHeader-reaction3-left"></td>
                          <td id="componentDivHeader-reaction3-icon" style="zoom:1;vertical-align:middle;text-align:left;background-repeat:repeat-x;"><img id="componentDivHeader-reaction3-icon_img" src="http://www.tampabay.com/projects/assets/sharing/more_wh.png" alt=""></td>
                          <td id="componentDivHeader-reaction3-right"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript">
    gigya.socialize.showShareBarUI(showShareBarUI_params);

    </script>
  </div>
</header>

